@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,regular,600,500,900&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* 
&display=swap
&subset=cyrillic-ext 
*/
body {
  font-family: 'Poppins';
  line-height: 130%;
  font-weight: 500;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #151515;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.cai {
  width: 100%;
  max-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(0.5rem, 1.5vw, 0.75rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cai_items {
  display: inherit;
}

.cai_items > *:not(:last-child) {
  margin-right: clamp(0.75rem, 2.5vw, 2rem);
}

.cai__chatlink {
  color: #6A983C;
}

.hamb__title {
  display: none;
}

.popup {
  display: none;
}

.hiddenn {
  opacity: 0;
}

.navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F9F9;
}

.navlist__item a {
  color: #151515;
}

.navlist > *:not(:last-child) {
  margin-right: clamp(1.25rem, 2.5vw, 2.5rem);
}

.navlist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlist__item_text {
  font-size: clamp(0.5rem, 1.5vw, 1rem);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
}

.nav__title {
  color: black;
  font-weight: 900;
}

.nav .nav__searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}

.nav .search-txt {
  outline: none;
  border: none;
  background: none;
  padding: 0px;
  color: black;
}

.nav .search-bth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icons > *:not(:last-child) {
  margin-right: clamp(1rem, 2.5vw, 2rem);
}

.menuandbanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mab {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 30px;
}

.mab__categorymenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23%;
  height: 282px;
}

.mab__categorymenu_titles {
  font-size: clamp(0.9rem, 2.5vw, 1.125rem);
  color: #151515;
  font-weight: 600;
}

.mab__categorymenu_link {
  color: #6A983C;
  font-size: clamp(0.75rem, 2.5vw, 0.9rem);
  font-family: 'Open Sans';
  font-weight: 400;
  text-decoration: underline;
}

.mab__categorymenu_button {
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  display: inline-block;
  padding: 0.78125rem 1rem;
  border-radius: 0.75rem;
  background-color: #f5f5f5;
  max-width: 150px;
  margin-top: clamp(1.5rem, 2.5vw, 2rem);
  font-size: clamp(0.6rem, 2.5vw, 0.9rem);
}

.mab__categorymenu_button a {
  color: #151515;
}

.mab {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
}

.mab__banner_background {
  position: relative;
  color: white;
  display: inline-block;
  border-radius: 0.75rem;
  padding: 3rem 2rem;
  max-width: 100%;
  background: url("../img/Banner.png");
}

.mab__banner_subtitle {
  font-weight: 600;
  font-size: clamp(0.5rem, 2.5vw, 0.75rem);
  line-height: 18px;
  color: #6A983C;
}

.mab__banner_title {
  width: 320px;
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-bottom: 5.7rem;
  line-height: 33px;
  color: #151515;
}

.mab__banner__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  border: 2px solid #92C064;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  width: 60%;
}

.mab__banner__button a {
  color: #151515;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
}

.sellproducts {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sellproducts > *:not(:last-child) {
  margin-right: clamp(1rem, 1.5vw, 2rem);
}

.sellproducts__card {
  display: inline-block;
  border: 1px solid #D1D1D1;
  border-radius: 0.75rem;
  padding: 1rem;
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
}

.card__image {
  background: url("../img/imgonline-com.png");
  position: relative;
  height: 11.25rem;
  margin: 0px 0px 1rem 0px;
}

.card__product-name {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.card__product-description {
  margin: 0px 0px 1rem 0px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: clamp(0.5rem, 2.5vw, 0.7rem);
  line-height: 16px;
  color: #575757;
}

.card__product-button-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__product-price {
  font-weight: 600;
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  line-height: 117%;
}

.card__product-button {
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 130%;
  padding: 0.3125rem 0.625rem;
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 0.75rem;
  display: inline-block;
}

.card .discount-mark {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  padding: 0px 0.5rem;
  background-color: #F4F8EC;
  color: #6A983C;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.flexcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 190px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardpeople__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__text {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  text-align: center;
  margin: 0px 0px 2rem 0px;
}

.item__names {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: center;
  color: #A9A9A9;
}

.card__photo {
  width: 48px;
  height: 48px;
  left: 50%;
}

@media (max-width: 767px) {
  .nav .nav__title {
    display: none;
  }
  .hamb__title {
    display: contents;
  }
  .cai {
    display: none;
  }
  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bar {
    display: block;
    width: 30px;
    height: 1px;
    margin: 6px auto;
    background-color: #6A983C;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .hamb__field {
    padding: 10px 0 10px 20px;
    cursor: pointer;
  }
  .popup {
    position: fixed;
    top: 42px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .popup.open {
    left: 0;
  }
  .popup .cai_items {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    gap: 10px;
  }
  .popup .cai_items > *:not(:last-child) {
    margin-right: 0px;
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  .hiddenn {
    opacity: 1;
  }
  .navlist {
    display: none;
  }
  .mab {
    margin-top: 0px;
  }
  .mab .mab__categorymenu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */